<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/coin.png" />
        <link rel="stylesheet" href='./css/styles.css'>
        <script src="./js/app.js"></script>
    </head>
    <body>
         <div class="div main-content">
           {{>header}}
         <img class="portrait" src="/img/SayaliPhoto.jpeg" />
         </div>
          {{>footer}}
    </body>
    
</html>