<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/coin.png" />
        <link rel="stylesheet" href='./css/styles.css'>
    </head>
    <body>
        <div class="div main-content">
        {{>header}}
        <p>
           {{ message }}
        </p>
        </div>
        {{>footer}}
    </body>
     
</html>